* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, p {
   background-color: #DDE0E3;
 }

 em, strong {
   background-color: #B2D6FF;
 }

 h1 {
   border-bottom: 1px solid #5D6063;
   margin: auto auto;
   padding: 50px 20px 20px 20px; /* Top / Right / Bottom / Left */
 }
 p {
   margin-top: 25px;
   margin-bottom: 50px;
 }

 div {
   color: #111;
   font-weight: bold;
   padding: 20px;

   box-sizing: border-box;
   margin: 20px auto;
 }
 ul {
   list-style-type: none;
 }

 li {
   border-right: 1px solid #bbb;
   float: left;
 }
 li:last-child {
  border-right: none;
}

 a {
  display: block;
  padding: 0 20px 0 20px;
  /*background-color: #dddddd;*/
 }

 li a {
   display: block;
   color: #111;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 li a:hover {
   background-color: lightblue;
 }
/*
h2 {
  padding: 140px 16px;
  background-color: #A4D63D;
}*/
 .button {
   color: #FFF;
   background-color: #5995DA;
   font-weight: bold;
   padding: 20px;
   text-align: center;
   border: 2px solid #5D6063;
   border-radius: 5px;

   width: 200px;
   box-sizing: border-box;
   margin: 20px auto;
 }
 .button:hover {
   background-color: #111;
 }

 .page {
   width: 600px;
   margin: 0 auto;
 }

 #head-nav {
   margin: auto;
   width: 70%;
   display: flex;
 }

 #navbar {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: inline;
 }
 .container2 {
   margin: auto;
   width: 70%;
   display: flex;
 }

 .active {
  background-color: #A4D63D;
}
